{% extends 'base.html.twig' %}

{% block title %}{{ category.name }} - {{ parent() }}{% endblock %}

{% block banner_title %}{{ category.name }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {% for product in category.products %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card card-product mb-4">
                <img class="card-img-top" src="https://dummyimage.com/600x400/55595c/fff" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{{ path('product_show', {slug: product.slug}) }}" title="{{ product.name }}">
                            {{ product.name }}
                        </a>
                    </h4>
                    <p class="card-text">{{ product.description | u.truncate(80, '...', false) }}</p>
                    <div class="row">
                        <div class="col">
                            <p class="btn btn-danger btn-block">{{ product.price | format_currency('EUR') }}</p>
                        </div>
                        <div class="col">
                            <a href="#" class="btn btn-success btn-block">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<a href="{{ path('category_index') }}">back to list</a>

<a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>

{{ include('category/_delete_form.html.twig') }}
{% endblock %}
